<h1>Make a new product</h1>
<form method="post" action="/products">
<div>name: <input type="text" name="name"></div>
<div>price: <input type="text" name="price"></div>
<div>currency_code: <input type="text" name="currency_code"></div>
<div>stock: <input type="text" name="stock"></div>
<div>description: <input type="text" name="description"></div>
<div>on_sale?
  <select name="on_sale">
    <option value="false">False</option>
    <option value="true">True</option>
  </select><br>
</div>
<div>discount: <input type="text" name="discount"></div>
<div>supplier_id:
  <select name="supplier_id">
    <option value="1">Moi Meme Moitie</option>
    <option value="2">Baby, The Stars Shine Bright</option>
    <option value="3">Gloomth</option>
  </select><br>
</div>
<input type="submit" value="Create new product">
</form>