<h1>Make a new product</h1>
<form method="post" action="/recipes">
<div>name: <input type="text" name="name"></div>
<div>price: <input type="text" name="price"></div>
<div>currency_code: <input type="text" name="currency_code"></div>
<div>stock: <input type="text" name="stock"></div>
<div>description: <input type="text" name="description"></div>
<div>on_sale: <input type="text" name="on_sale"></div>
<div>discount: <input type="text" name="discount"></div>
<div>supplier_id: <input type="text" name="supplier_id"></div>
<input type="submit" value="Create new product">
</form>